<template>
    <v-content>
        <Header title="ยอดที่ต้องชำระ"></Header>

        <v-layout justify-center>
            <v-flex xs12>

                <v-layout pa-3 style="height: 210px">
                    <v-flex style="position: relative;">
                        <div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;">
                            <img width="100%" height="100%" :src="require('../assets/summary.png')">
                        </div>
                        <v-layout pa-5 style="z-index: 15; position: relative; height: 95%">
                            <v-flex xs3>
                                <div class="summary-head locksi-color">15</div>
                                <div class="mb-5">พค.</div>
                                <div class="summary-detail locksi-color mb-1">
                                    ระยะเวลาที่ฝากของ
                                </div>
                                <div class="summary-detail-plus">1 ชั่วโมง</div>
                            </v-flex>
                            <v-divider vertical style="border: solid .75px #FE7D21" class="mx-2"></v-divider>
                            <v-flex xs9 pl-5>
                                <div class="txt-head locksi-color">หมายเลขตู้ : </div>
                                <div class="locksi-color mb-7">XXX-XXXX-X</div>
                                <div class="locksi-color">ต้องรับของภายใน</div>
                                <div class="summary-head locksi-color">19.45 น.</div>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>

                <v-layout justify-center pa-3 mb-5 :style="{'background': overtime ? 'linear-gradient(180deg, #FF5C00 0%, #FE7D21 100%)':'linear-gradient(180deg, #599706 0%, #72B020 67.71%)'}">
                    <v-flex shrink white--text txt-head>
                        <div class="text-center">{{ overtime ? 'ยอดเงินที่ต้องชำระเพิ่ม':'ยอดเงินที่ชำระแล้ว' }}</div>
                        <div class="text-center" style="font-size: 32px">50.00</div>
                        <div class="text-center">THB</div>
                    </v-flex>
                </v-layout>

                <v-layout justify-center>
                    <v-flex shrink>
                        <v-btn dark rounded width="180px" class="locksi-bg-color">รับของ</v-btn>
                    </v-flex>
                </v-layout>

            </v-flex>
        </v-layout>

        <Footer></Footer>
    </v-content>
</template>

<script>
    import Header from "../components/Header";
    import Footer from "../components/Footer";

    export default {
        name: "Summary",
        components: {
            Header,
            Footer
        },
        data: () => ({
           overtime: false
        }),
        created() {
            if (this.$route.path === '/getback-overtime') {
                this.overtime = true;
            }
        }
    }
</script>

<style scoped>
.summary-head {
    font-weight: bold;
    font-size: 29px;
    line-height: 25px;
}
    .summary-detail {
        font-size: 12px;
    }
    .summary-detail-plus {
        font-size: 13px;
        font-weight: bold;
    }
</style>