<template>
    <v-content>
        <Header title="การฝากของไม่สำเร็จ"></Header>

        <v-layout justify-center>
            <v-flex xs12>

                <v-layout justify-center mt-10>
                    <v-flex shrink>
                        <img width="110px" :src="require('../assets/err-case/insufficient.png')">
                    </v-flex>
                </v-layout>

                <v-layout justify-center mt-5 mb-3>
                    <v-flex shrink class="locksi-color txt-head">
                        ยอดเงินของคุณไม่เพียงพอ
                    </v-flex>
                </v-layout>

                <v-layout justify-center pa-3 mb-5 style="background: #979797">
                    <v-flex shrink white--text txt-head>
                        <div class="text-center">ยอดเงินที่ต้องชำระ</div>
                        <div class="text-center" style="font-size: 32px">50.00</div>
                        <div class="text-center">THB</div>
                    </v-flex>
                </v-layout>

                <v-layout justify-center>
                    <v-flex shrink>
                        <v-btn dark rounded width="180px" class="locksi-bg-color">เติมเงิน</v-btn>
                    </v-flex>
                </v-layout>

            </v-flex>
        </v-layout>

        <Footer></Footer>
    </v-content>
</template>

<script>
    import Header from '../components/Header'
    import Footer from '../components/Footer'

    export default {
        name: "Insufficient",
        components: {
            Header,
            Footer
        }
    }
</script>

<style scoped>

</style>