<template>
    <v-content>
        <Header title="Page not found"></Header>

        <v-layout justify-center>
            <v-flex xs10>

                <v-layout justify-center mt-10>
                    <v-flex shrink>
                        <img width="200px" :src="require('../assets/err-case/page404.png')">
                    </v-flex>
                </v-layout>

                <v-layout mt-5 mb-12>
                    <v-flex>
                        อุปส์! ดูเหมือนระบบ จะมีปัญหาในขณะนี้ กรุณาลองใหม่
                    </v-flex>
                </v-layout>

                <v-layout justify-center>
                    <v-flex shrink>
                        <v-btn dark rounded width="180px" class="locksi-bg-color">ลองใหม่</v-btn>
                    </v-flex>
                </v-layout>

            </v-flex>
        </v-layout>

        <Footer></Footer>
    </v-content>
</template>

<script>
    import Header from '../components/Header'
    import Footer from '../components/Footer'

    export default {
        name: "PageNotFound",
        components: {
            Header,
            Footer
        }
    }
</script>

<style scoped>

</style>