<template>
  <v-content style="position: fixed; bottom: 0; left: 0; right: 0;">
    <v-layout class="footer-tab">
      <v-flex xs6 pa-3 class="flex-center">
        <img width="25px" :src="require('../assets/mini-icons/locksi-footer.png')">
      </v-flex>
      <v-divider vertical style="border: solid .5px #fff;"></v-divider>
      <v-flex xs6 pa-3 class="flex-center">
        <img width="25px" :src="require('../assets/mini-icons/recent-footer.png')">
      </v-flex>
    </v-layout>
  </v-content>
</template>

<script>
export default {
  name: 'Footer'
}
</script>


<style scoped>
.footer-tab {
  background: #333;
}
</style>
